## Data and libraries load

Load xlsx files from the extraction pipeline.

In [ ]:
from validation_package.load import dataframe_impl, reading_tables
#/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/libraries/content/truth_table.xlsx
#/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/libraries/content/compared_table.xlsx

table_truth, table_compared = reading_tables("/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/libraries/content/truth_table.xlsx","/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/libraries/content/compared_table.xlsx")

print(f"Truth table: \n{table_truth}")
#print(f"\nCompared table: \n{table_compared}")

Truth table:
          Nb       String  string noisy          list nb  ordered list nb  \
0     3.00000         DFGE    dfgrhgfds            6,9,7            6,9,7
1   575.00000  je suis sat      sdfvgbn              NaN              NaN
2    45.90000        à oui      sedrtyu            1,2,3            1,2,3
3  1000.00000      OLALAla      ertyunk  5,0,6,45,679.65  5,0,6,45,679.65
4     0.84756            g      DEFRGHJ      12,9876,0.2      12,9876,0.2
5    34.00000      GgGgGzo          NaN              NaN              NaN

       list string
0      hahaha,hehe
1      a,b,c,d,e,f
2              NaN
3  sh,ch,sch,th,ph
4              NaN
5  OTRH,GJKO,hfhjz

## Applying glossaries

Glossaries allow to provide the term equivalency ensuring a proper validation

In [ ]:
from validation_package.sort_and_glossary import sort_data

sort_data(table_truth, table_compared)

## Columns processing

### Assigning columns to specific pre-processing routines

In [ ]:
#manual attribution
from validation_package.columns_attribution import manual_process_for_columns_attribution

attribution_file1 = "/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/libraries/content/manual_attribution_ex.txt"
attribution_file2 = "/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/libraries/content/manual_counter_ex1.txt"
attribution_file3 = "/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/libraries/content/manual_counter_ex2.txt"
processors = manual_process_for_columns_attribution(table_truth, attribution_file1)
print(processors)

What type of processing for each column ?
Write a txt file via choosing from this table:
Processing methods
-------------------
num - NumericColumnProcessor()
words - StringColumnProcessor()
words_not_exact - StringNoisyColumnProcessor()
list_num - List_of_Numbers_ColumnProcessor()
ordered_list_num - Ordered_List_of_Numbers_ColumnProcessor()
list_words - List_of_Strings_ColumnProcessor()
['Nb', 'String', 'string noisy', 'list nb', 'ordered list nb', 'list string']
['NumericColumnProcessor', 'StringColumnProcessor', 'StringNoisyColumnProcessor', 'List_of_Numbers_ColumnProcessor', 'Ordered_List_of_Numbers_ColumnProcessor', 'List_of_Strings_ColumnProcessor']
The manual attribution was taken into account.

In [ ]:
#automatic attribution
from validation_package.columns_attribution import automatic_process_for_columns_attribution, modify_attribution

processors = automatic_process_for_columns_attribution(table_truth)
print(processors)

# attribution = "/Users/meltr/OneDrive/Documents/(APT2)/D4/STAGE/github/GenEval/libraries/attribution.json"
# new_processors = modify_attribution(attribution)
# print(new_processors)

KeyError: 'pop from an empty set'

## Comparison process

### Comparison and storage

In [ ]:
import pandas as pd
from IPython.display import display
from validation_package.comparison import comparison_init

comparison_results, confusion_matrices = comparison_init(table_truth, table_compared, processors)

### Formatting the result

In [ ]:
import pandas as pd 
from IPython.display import display
from validation_package.get_results import results

combined_output, confusion_matrices_df = results(table_truth, table_compared, comparison_results, confusion_matrices)

with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', None, 'display.max_colwidth', None):
    display(combined_output)
    display(confusion_matrices_df)

,Nb_truth,Nb_compared,Nb_comparison,String_truth,String_compared,String_comparison,string noisy_truth,string noisy_compared,string noisy_comparison,list nb_truth,list nb_compared,list nb_comparison,ordered list nb_truth,ordered list nb_compared,ordered list nb_comparison,list string_truth,list string_compared,list string_comparison
0,3.00000,3.00000,Correct,DFGE,DFGE,Correct,dfgrhgfds,dfgrhgfuy,Correct,"6,9,7","9,6,7",Correct,"6,9,7","6,9,7",Correct,"hahaha,hehe","hahaha,hehe",Correct
1,575.00000,575.00000,Correct,je suis sat,je suis sat,Correct,sdfvgbn,x,Incorrect,NaN,NaN,Correct,NaN,NaN,Correct,"a,b,c,d,e,f","a,b,c,d,e,f",Correct
2,45.90000,45.90000,Correct,à oui,à oui,Correct,sedrtyu,sedrtyu,Correct,"1,2,3","3,1,2,3",Correct,"1,2,3","1,2,3",Correct,NaN,NaN,Correct
3,1000.00000,1000.00000,Correct,OLALAla,OLALAla,Correct,ertyunk,ertyuaz,Incorrect,"5,0,6,45,679.65","0,6,45,679.65,5",Correct,"5,0,6,45,679.65","5,0,6,45,679.65",Correct,"sh,ch,sch,th,ph","sh,ch,sch,th,ph",Correct
4,0.84756,0.84756,Correct,g,g,Correct,DEFRGHJ,DEFRGHm,Correct,"12,9876,0.2","12,9876,0.2,4",False Positive,"12,9876,0.2","12,9876,0.2",Correct,NaN,NaN,Correct
5,34.00000,34.00000,Correct,GgGgGzo,GgGgGzo,Correct,NaN,NaN,Correct,NaN,NaN,Correct,NaN,NaN,Correct,"OTRH,GJKO,hfhjz","OTRH,GJKO,hfhjz",Correct

                 Correct  Incorrect  False Positive  False Negative  Accuracy
Nb                   6.0        0.0             0.0             0.0  1.000000
String               6.0        0.0             0.0             0.0  1.000000
string noisy         4.0        2.0             0.0             0.0  0.666667
list nb              5.0        0.0             1.0             0.0  0.833333
ordered list nb      6.0        0.0             0.0             0.0  1.000000
list string          6.0        0.0             0.0             0.0  1.000000
Overall             33.0        2.0             1.0             0.0  0.916667